<div>
  <mat-card>
    <mat-card-header>
      <h1>Update Data</h1>
    </mat-card-header>
    <mat-card-content>
  <form [formGroup]="updateForm">
    <div style="display: flex; justify-content: space-between;margin-top: 2%;">
      <label>CustomerNumber</label>
      <input type="text" formControlName="customerNumber" readonly>
    </div>
    <div style="display: flex; justify-content: space-between;margin-top: 2%;">
      <label>Name</label>
      <input type="text" formControlName="name">
    </div>
    <div style="display: flex; justify-content: space-between;margin-top: 2%;">
      <label>meterSerilNumber</label>
      <input type="text" formControlName="meterSerilNumber">
    </div>
    <div style="display: flex; justify-content: space-between;margin-top: 2%;">
      <label>Address</label>
      <input type="text" formControlName="address">
    </div>
    <div style="display: flex; justify-content: space-between;margin-top: 2%;">
      <button (click)="update()">  Update</button>

      <button (click)="cancle()">cansle</button>
    </div>
    </form>
    </mat-card-content>
    </mat-card>
